<% content_for :body_content_title do %>
  <%= @hotel.name %>
<% end %>

<% content_for :body do %>
  <section>
    <h1>Name</h1>
    <p>
      <%=raw @hotel.name %>
    </p>
  </section>
  <section>
    <h1>Description</h1>
    <p>
      <%=raw @hotel.description %>
    </p>
  </section>
  <section>
    <h1>Deletable</h1>
    <p>
      <%=raw @hotel.deletable %>
    </p>
  </section>
<% end %>

<% content_for :side_body do %>
  <aside>
    <h2><%= t('.other') %></h2>
    <ul id="hotels">
      <% @hotels.each do |hotel| %>
        <li>
          <%= link_to hotel.name, refinery.hotels_hotel_path(hotel) %>
        </li>
      <% end %>
    </ul>
  </aside>
<% end %>

<%= render '/refinery/content_page' %>
