<ul class = 'nested' data-ajax-content= '<%= refinery.hotels_admin_hotel_promotions_callback_path(@hotel.id) %>' >
  <% @hotel.promotions.each do |promo| %>
    <li class='clearfix record icons' id="<%= dom_id(promo) -%>">
      <div class="clearfix">
        <span class="icon"></span>
        <span class='title'>
          <%= promo.title %>
        </span>
      </div>
    </li>
  <% end %>
</ul>


