<% content_for :body_content_title do %>
  <%= @promotion.title %>
<% end %>

<% content_for :body do %>
  <section>
    <h1>Title</h1>
    <p>
      <%=raw @promotion.title %>
    </p>
  </section>
  <section>
    <h1>Description</h1>
    <p>
      <%=raw @promotion.description %>
    </p>
  </section>
  <section>
    <h1>Caption</h1>
    <p>
      <%=raw @promotion.caption %>
    </p>
  </section>
  <section>
    <h1>Hotel</h1>
    <p>
      <%=raw @promotion.hotel_id %>
    </p>
  </section>
<% end %>

<% content_for :side_body do %>
  <aside>
    <h2><%= t('.other') %></h2>
    <ul id="promotions">
      <% @promotions.each do |promotion| %>
        <li>
          <%= link_to promotion.title, refinery.hotels_promotion_path(promotion) %>
        </li>
      <% end %>
    </ul>
  </aside>
<% end %>

<%= render '/refinery/content_page' %>
