<li class='clearfix record icons' id="<%= dom_id(hotel) -%>">
  <div class="clearfix">
    <% if hotel.promotions.present? %>
      <span class="icon toggle <%= 'expanded' if Refinery::Pages.auto_expand_admin_tree %>" title="<%= t('expand_collapse', :scope => 'refinery.plugins.hotels.title') %>"></span>
    <% else %>
      <span class="icon"></span>
    <% end %>

    <span class='title <%= 'toggle' if hotel.promotions.present? %>'>
      <%= hotel.name %>
    </span>


    <span class='actions'>

      <%= link_to refinery_icon_tag("application_go.png"), refinery.hotels_hotel_path(hotel),
          :title => t('.view_live_html'),
          :target => "_blank" %>
      <%= link_to refinery_icon_tag("application_edit.png"), refinery.edit_hotels_admin_hotel_path(hotel),
           :title => t('.edit') %>
      <%= link_to refinery_icon_tag("delete.png"), refinery.hotels_admin_hotel_path(hotel),
          :class => "cancel confirm-delete",
          :title => t('.delete'),
          :confirm => t('message', :scope => 'refinery.admin.delete', :title => hotel.name),
          :method => :delete %>
      <%= link_to refinery_icon_tag("promotion_icon.png"), refinery.new_hotels_admin_hotel_promotion_path(hotel),
          :title => t('refinery.hotels.promotions.actions.create_new') %>
    </span>

  </div>
  <ul class = 'nested' data-ajax-content= '<%= refinery.hotels_admin_hotel_promotions_callback_path(hotel.id) %>' >
    <% hotel.promotions.each do |promo| %>
      <li class='clearfix record icons' id="<%= dom_id(promo) -%>">
        <div class="clearfix">
          <span class="icon"></span>
          <span class='title'>
            <%= promo.title %>
          </span>
          <span class='actions'>
            <%= link_to refinery_icon_tag("application_go.png"), refinery.hotels_hotel_path(hotel),
                :title => t('.view_live_html'),
                :target => "_blank" %>
            <%= link_to refinery_icon_tag("application_edit.png"), refinery.edit_hotels_admin_hotel_path(hotel),
                 :title => t('.edit') %>
            <%= link_to refinery_icon_tag("delete.png"), refinery.hotels_admin_hotel_promotion_path(hotel.id, promo.id),
                :class => "cancel confirm-delete",
                :title => t('.delete'),
                :confirm => t('message', :scope => 'refinery.admin.delete', :title => hotel.name),
                :method => :delete %>
          </span>
        </div>
      </li>
    <% end %>
  </ul>
</li>
