<section id='records' class = 'tree'>
  <%= render 'records' %>
</section>
<aside id='actions'>
  <%= render 'actions' %>
</aside>
<%= render '/refinery/admin/make_sortable', :tree => true if !searching? and ::Refinery::Hotels::Admin::HotelsController.sortable? and ::Refinery::Hotels::Hotel.count > 1 %>
